﻿@{
    ViewBag.Title = "About";
}
<label for="name">Name</label>
<div class="input-group margin-bottom-10">
    <input type="text" class="form-control editField" value="Skipper" readonly />
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-pencil hide editMode"></span>
        <span class="glyphicon glyphicon-ok nonEditMode"></span>
    </div>
</div>
<label for="name">Position</label>
<div class="input-group">
    <input type="text" class="form-control editField" value="Being Awesome" readonly />
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-pencil hide editMode"></span>
        <span class="glyphicon glyphicon-ok nonEditMode"></span>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('span').click(function () {
            if ($(this).parents().siblings('input').is('[readonly]')) {
                $(this).parents().siblings('input').prop('readonly', false); //turns the readonly off
            } else {
                $(this).parents().siblings('input').prop('readonly', true); //turns the readonly off
            }
        });
    });
</script>