﻿@{
    ViewBag.Title = "Home Page";
}

<div id="paper"></div>
<script>
    $(function () {
        $('.addField').click(function () {
            $(templateRowStr).appendTo('.content');
        });

        $("[data-toggle='tooltip']").tooltip();

        var templateRowStr =
            '<div class="row">' +
                '<form>' +
                '<div class="col-xs-4 inputes">' +
                    '<input class="form-control" type="text" />' +
                '</div>' +
                '<div class="col-xs-3 inputes">' +
                    '<select class="form-control">' +
                        '<option>String, int</option>' +
                        '<option>Datetime</option>' +
                        '<option>Reference</option>' +
                        '<option>Boolean</option>' +
                    '</select>' +
                '</div>' +
                '<div class="col-xs-3 inputes">' +
                    '<input class="form-control" type="text" />' +
                '</div>' +
                '</form>' +
                '<div class="col-xs-2 saveCancelButtons">' +
                    '<button class="btn btn-default btn-xs">Сохранить</button>' +
                    '<button class="btn btn-default btn-xs">Отмена</button>' +
                '</div>' +
            '</div>';

        $('.editFields').click(function () {
            $('form').find('input, select').each(function (i, elem) {
                var item = $(elem);
                item.data('initialState', item.val());
            });
            $('.row-list').removeClass('row-list').addClass('row');
            $('.editFields, .removeFields').css('display', 'none');
            $('.saveCancel').css('display', 'block');
            $('.form-control').attr('readonly', false);
        });

        $('.sv').click(function () {
            $('.row').removeClass('row').addClass('row-list');
            $('.saveCancel').css('display', 'none');
            $('.form-control').attr('readonly', true);
            $('.editFields, .removeFields').css('display', 'inline-block');
        });

        $('.cnsl').click(function () {
            $('form').find('input, select').each(function (i, elem) {
                var item = $(elem);
                item.val(item.data('initialState'));
            });
            $('.row').removeClass('row').addClass('row-list');
            $('.saveCancel').css('display', 'none');
            $('.form-control').attr('readonly', true);
            $('.editFields, .removeFields').css('display', 'inline-block');
        });
    });

    var graph = new joint.dia.Graph;
    var paper = new joint.dia.Paper({ el: $('#paper'), width: 1000, height: 900, gridSize: 1, model: graph });

    joint.shapes.html = {};
    joint.shapes.html.Element = joint.shapes.basic.Rect.extend({
        defaults: joint.util.deepSupplement({
            type: 'html.Element',
            attrs: {
                rect: { stroke: 'none', 'fill-opacity': 0 }
            }
        }, joint.shapes.basic.Rect.prototype.defaults)
    });

    joint.shapes.html.ElementView = joint.dia.ElementView.extend({

        template: [
            '<div class="html-element">',
            '<h1 class="title">Название таблицы</h1>',
            '<button class="btn btn-success btn-sm addField" data-toggle="tooltip" data-placement="right" title="Добавить поле"><i class="glyphicon glyphicon-plus"></i></button>',
            '<button class="btn btn-danger btn-sm delete"><i class = "glyphicon glyphicon-remove"></i></button>',
            '<div class="content">',
                '<div class="row-list">',
                    '<form class="row-list-form">',
                    '<div class="col-xs-4 inputes">',
                        '<input class="form-control" type="text" value="Test str" readonly />',
                    '</div>',
                    '<div class="col-xs-3 inputes">',
                        '<select class="form-control" readonly>',
                            '<option>String, int</option>',
                            '<option>Datetime</option>',
                            '<option>Reference</option>',
                            '<option>Boolean</option>',
                        '</select>',
                    '</div>',
                    '<div class="col-xs-3 inputes">',
                        '<input class="form-control" type="text" value="Test str2" readonly />',
                    '</div>',
                    '</form>',
                    '<div class="col-xs-2 editRemoveButtons">',
                        '<button class="btn btn-primary btn-xs editFields"><i class="glyphicon glyphicon-pencil"></i></button>',
                        '<button class="btn btn-danger btn-xs removeFields" onclick="this.parentNode.parentNode.remove();"><i class="glyphicon glyphicon-remove"></i></button>',
                        '<button class="btn btn-default btn-xs saveCancel sv">Сохранить</button>',
                        '<button class="btn btn-default btn-xs saveCancel cnsl">Отмена</button>',
                    '</div>',
                '</div>',
           '</div>',
           '<p class="move"><i class="glyphicon glyphicon-move"></i></p>',
           '</div>'
        ].join(''),

        initialize: function () {
            _.bindAll(this, 'updateBox');
            joint.dia.ElementView.prototype.initialize.apply(this, arguments);

            this.$box = $(_.template(this.template)());
            this.$box.find('.delete').on('click', _.bind(this.model.remove, this.model));
            this.model.on('change', this.updateBox, this);
            this.model.on('remove', this.removeBox, this);

            this.updateBox();
        },
        render: function () {
            joint.dia.ElementView.prototype.render.apply(this, arguments);
            this.paper.$el.prepend(this.$box);
            this.updateBox();
            return this;
        },
        updateBox: function () {
            var bbox = this.model.getBBox();
            this.$box.css({ width: bbox.width, height: bbox.height, left: bbox.x, top: bbox.y, transform: 'rotate(' + (this.model.get('angle') || 0) + 'deg)' });
        },
        removeBox: function (evt) {
            this.$box.remove();
        }
    });


    var el1 = new joint.shapes.html.Element({ position: { x: 80, y: 80 }, size: { width: 500, height: 450 }, label: 'I am HTML', select: 'one' });
    var el2 = new joint.shapes.html.Element({ position: { x: 370, y: 160 }, size: { width: 500, height: 450 }, label: 'Me too', select: 'two' });
    var l = new joint.dia.Link({
        source: { id: el1.id },
        target: { id: el2.id },
        attrs: { '.connection': { 'stroke-width': 2, stroke: '#808080' } }
    });

    l.set('smooth', true);
    graph.addCells([el1, el2, l]);
</script>