﻿#paper {
   position: relative;
   border: 1px solid gray;
   display: inline-block;
   background: transparent;
   overflow: hidden;
}
#paper svg {
   background: transparent;
}
#paper svg .link {
   z-index: 2;
}
.html-element {
   position: absolute;
   background:#fff;
   pointer-events:none;
   -webkit-user-select: none;
   border:2px solid #808080;
   border-radius:5px;
   z-index: 99;
}
.control-label{
    margin-bottom:0;
}
.html-element select,
.html-element input,
.html-element button {
   /* Enable interacting with inputs only. */
   pointer-events: auto;   
}
.html-element button.delete {
    color:#808080;
    border:none;
    background-color:transparent;
    position: absolute;
    top:-33px;
    right: 0;
    cursor: pointer;
    z-index:999;
}
.html-element button.delete:hover{
    background:rgb(217, 83, 79);
    border:1px solid rgb(212, 63, 58);
    color:#fff;
}
.html-element button.addField{
    position:absolute;
    top:-33px;
    left:0;
}
.title{
    position:absolute;
    margin:0;
    padding:0;
    left:46px;
    top:-20px;
    font-size:12px;
}
.content{
    position:absolute;
    top:0;
    width:100%;
    height:420px;
    pointer-events: all;
   -webkit-user-select: auto;
    overflow-y:auto;
}
.move{
    position:absolute;
    bottom:0;
    left:0;
    display:block;
    padding:0;
    margin:0;
    height:20px;
    width:100%;
    text-align:center;
    background:#909090;
    opacity:.2;
}
.row-list{
    height:40px;
    width:99%;
    margin:2px auto;
    padding-top:2px;
    border:1px solid #808080;
}
.row{
    height:70px;
    width:99%;
    margin:2px auto;
    padding-top:15px;
    border:1px solid #808080;
}
.form-control{
    height:30px!important;
    padding:0 5px;
}
.editRemoveButtons{
    padding:5px 0 0 14px;
}
.editFields{
    margin-right:5px;
}
.inputes{
    padding:2px;
}
.saveCancelButtons{
    padding:0 0 0 3px;
    margin-top:-5px;
}
.saveCancelButtons>button{
    width:75px;
    margin-bottom:2px;
}
.saveCancel{
    width:75px;
    margin-bottom:2px;
    margin-left:-10px;
    display:none;
}
.sv{
    margin-top:-10px;
}